{% load static  %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dashboerd-{{user.username}}</title>
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static './css/profile.css' %}">
<link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
</head>
<body>
<center>
    <section class="mt-5 " style="width:50%;">
        <div class="alert alert-success alert-dismissible fade show " role="alert">
            successfully loged In! 
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            
          </div>
           
     </section>
</center>

        <div class="container bootstrap snippets bootdey">
                <div class="row">
                  <div class="profile-nav col-md-3">
                      <div class="panel">
                          <div class="user-heading round">
                              <a href="#">
                                  <img src="{{ user.image.url }}" alt="">
                              </a>
                              <h1>{{user.username}}</h1>
                              <p>{{user.email}}</p>
                          </div>
                
                          <ul class="nav nav-pills nav-stacked">
                              <li class="active"><a href="#"> <i class="fa fa-user"></i> Profile</a></li>
                              <li><a href="#"> <i class="fa fa-calendar"></i> Recent Activity <span class="label label-warning pull-right r-activity">9</span></a></li>
                              <li><a href="{% url 'accurl:logout' %}"> <i class="fa fa-edit"></i>Logout</a></li>
                          </ul>
                      </div>
                  </div>
                  <div class="profile-info col-md-9">
                      
                      <div class="panel">
                          <div class="bio-graph-heading">
                              hey, {{user.message}}
                          </div>
                          <div class="panel-body bio-graph-info">
                              <h1>Bio Graph</h1>
                              <div class="row">
                                  <div class="bio-row">
                                      <p><span>First Name </span>: {{user.first_name}}</p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Last Name </span>: {{user.last_name}}</p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Country </span>: {{user.country}}</p>
                                  </div>
                                 
                                  <div class="bio-row">
                                      <p><span>Occupation </span>: {{user.occupation}}</p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Email </span>: {{user.email}}</p>
                                  </div>
                                  <div class="bio-row">
                                      <p><span>Mobile </span>: {{user.phone}}</p>
                                  </div>
                                 
                              </div>
                          </div>
                      </div>
                      <div>
                          <div class="row">
                              <div class="col-md-6 card p-2">
                                  <div class="panel">
                                      <div class="panel-body">
                                          <div class="bio-chart">
                                              <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="35" data-fgcolor="#e06b7d" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(224, 107, 125); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                          </div>
                                          <div class="bio-desk ">
                                              <h4 class="red">{{user.username}}</h4>
                                              <p>Started : {{user.date_joined}}</p>
                                              <p>Status : {{user.status}}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6 card p-2">
                                  <div class="panel">
                                      <div class="panel-body">
                                          <div class="bio-chart">
                                              <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="63" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                          </div>
                                          <div class="bio-desk">
                                              <h4 class="terques">{{user.first_name}}</h4>
                                              <p>Rank: 15 July</p>
                                              <p>last login : {{user.last_login}}</p>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                <div class="col-md-6 card p-2">
                                  <div class="panel">
                                      <div class="panel-body">
                                          <div class="bio-chart">
                                              <div style="display:inline;width:100px;height:100px;"><canvas width="100" height="100px"></canvas><input class="knob" data-width="100" data-height="100" data-displayprevious="true" data-thickness=".2" value="63" data-fgcolor="#4CC5CD" data-bgcolor="#e8e8e8" style="width: 54px; height: 33px; position: absolute; vertical-align: middle; margin-top: 33px; margin-left: -77px; border: 0px; font-weight: bold; font-style: normal; font-variant: normal; font-stretch: normal; font-size: 20px; line-height: normal; font-family: Arial; text-align: center; color: rgb(76, 197, 205); padding: 0px; -webkit-appearance: none; background: none;"></div>
                                          </div>
                                          <div class="bio-desk">
                                          {% include 'messages.html' %}
                                              <form method="POST" enctype="multipart/form-data" >
                                             {%csrf_token %}
                                             {{ p_form|crispy }}
                                               <button type="submit" class="btn btn-outline-info">update</button>
                                             </form>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                            
                             
                          </div>
                      </div>
                  </div>
                </div>
                </div>
  
    
</body>
  <script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static './js/jquery.waypoints.min.js' %}"></script>
<script src="{% static './js/bootstrap.min.js' %}"></script>
</html>